<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <title>Interview Insight Hub</title>
        <style>
            .logo img {
                max-width: 120px;
                height: 70px;
            }
            nav.main-nav {
                display: flex;

                padding: 10px 10px; /* Adjust the padding to increase the height */
            }
            .sidebar {
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 250px;
                background-color: #f4f4f4;
                padding: 20px;
                box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
                z-index: 1000;
                overflow-y: auto;
            }

            .sidebar h3 {
                color: #333;
            }

            .sidebar ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .sidebar li {
                margin-bottom: 10px;
            }

            .sidebar a {
                text-decoration: none;
                color: #08769e;
            }

            .sidebar a:hover {
                color: #5ea4da;
            }

            .main-content {
                margin-right: 250px; /* Adjust margin to accommodate the sidebar width */
            }
        </style>
        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="/css/fontawesome.css" />
        <link rel="stylesheet" href="/css/templatemo-woox-travel.css" />
        <link rel="stylesheet" href="/css/owl.css" />
        <link rel="stylesheet" href="/css/animate.css" />

        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
        />
    </head>

    <body>
        <!-- ***** Preloader Start ***** -->
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <!--a href="index.html" class="logo">
                        <img src="assets/images/job_interview.jpg" alt="">
                    </a-->
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li>
                                    <a href="/" class="active">Home</a>
                                </li>
                                <li><a href="/about">About</a></li>
                                <li>
                                    <a href="/newexperience">New Experience</a>
                                </li>
                                <li><a href="/problems">Problems</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        <!--Main Bannner Area End ***** -->

        <div class="visit-country">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-heading">
                            <h2>INTERVIEW INSIGHT HUB</h2>
                            <p>
                                Students' destination for invaluable insights
                                and firsthand accounts of interview experiences
                                within your university's academic community,
                                empowering students to prepare better for
                                interviews
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <h3>Filter <i class="fas fa-filter"></i></h3>
                    <br />
                    <ul class="category-list">
                        <li>
                            Company <i class="fas fa-tv"></i>

                            <form id="filterForm">
                                <label for="companyFilter"
                                    >Filter by Company:</label
                                >
                                <select id="companyFilter">
                                    <option value="">All Companies</option>
                                    <!-- Default option to show all -->
                                </select>
                                <button type="submit">Filter</button>
                            </form>

                            <script>
                                // Function to fetch company names and populate the dropdown menu
                                async function fetchCompanies() {
                                    try {
                                        const response = await fetch(
                                            "/companies"
                                        );
                                        const data = await response.json();

                                        const companyDropdown =
                                            document.getElementById(
                                                "companyFilter"
                                            );
                                        data.companies.forEach((company) => {
                                            const option =
                                                document.createElement(
                                                    "option"
                                                );
                                            option.value = company;
                                            option.textContent = company;
                                            companyDropdown.appendChild(option);
                                        });
                                    } catch (error) {
                                        console.error(
                                            "Error fetching company names:",
                                            error
                                        );
                                    }
                                }

                                // Call fetchCompanies() to populate the dropdown menu when the page loads
                                fetchCompanies();

                                // Event listener for form submission
                                document
                                    .getElementById("filterForm")
                                    .addEventListener(
                                        "submit",
                                        function (event) {
                                            event.preventDefault(); // Prevent default form submission
                                            let selectedCompany =
                                                document.getElementById(
                                                    "companyFilter"
                                                ).value;

                                            if (selectedCompany.length == 0) {
                                                selectedCompany = "all";
                                            }

                                            this.action = `http://localhost:8000/companies/${selectedCompany}`;
                                            //alert(this.action);
                                            // Submit the form
                                            this.submit();
                                        }
                                    );
                            </script>
                        </li>

                        <li>
                            Type <i class="fas fa-graduation-cap"></i>

                            <form id="filterTypeForm">
                                <label for="TypeFilter">Filter by Type:</label>
                                <select id="TypeFilter">
                                    <option value="Internship">
                                        InternShip
                                    </option>
                                    <option value="Placement">Placement</option>
                                </select>
                                <button type="submit">Filter</button>
                            </form>

                            <script>
                                document
                                    .getElementById("filterTypeForm")
                                    .addEventListener(
                                        "submit",
                                        function (event) {
                                            event.preventDefault(); // Prevent default form submission
                                            let selectedType =
                                                document.getElementById(
                                                    "TypeFilter"
                                                ).value;

                                            this.action = `http://localhost:8000/InterviewType/${selectedType}`;
                                            //alert(this.action);
                                            // Submit the form
                                            this.submit();
                                        }
                                    );
                            </script>
                        </li>

                        <li>
                            Package <i class="fas fa-graduation-cap"></i>

                            <form id="filterPackageForm">
                                <label for="PackageFilter"
                                    >Filter by Package:</label
                                >
                                <select id="PackageFilter">
                                    <option value="less10">Below 10 LPA</option>
                                    <option value="midPack">10 - 15 LPA</option>
                                    <option value="dreamPack">Above LPA</option>
                                </select>
                                <button type="submit">Filter</button>
                            </form>

                            <script>
                                document
                                    .getElementById("filterPackageForm")
                                    .addEventListener(
                                        "submit",
                                        function (event) {
                                            event.preventDefault(); // Prevent default form submission
                                            let Selectedpackage =
                                                document.getElementById(
                                                    "PackageFilter"
                                                ).value;

                                            this.action = `http://localhost:8000/InterviewPackage/${Selectedpackage}`;
                                            //alert(this.action);
                                            // Submit the form
                                            this.submit();
                                        }
                                    );
                            </script>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <% Interviews.forEach(interview => { %>

                    <div class="col-lg-8">
                        <div class="items">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-8 col-sm-7">
                                                <div class="right-content">
                                                    <h4>
                                                        <%=
                                                        interview.companyName %>
                                                        <%=interview.JobType %>
                                                        Interview Experience <%=
                                                        interview.Role %> ( <%=
                                                        interview.Year%> )
                                                    </h4>
                                                    <span
                                                        ><%=
                                                        interview.studentName %>
                                                    </span>
                                                    <div class="main-button">
                                                        <a
                                                            id="regNumber"
                                                            href="interviews/<%= interview.RegNo %>"
                                                            >Read More</a
                                                        >
                                                    </div>
                                                    <ul class="info">
                                                        <li>
                                                            <button
                                                                class="thumbs-up-btn"
                                                                onclick="upvoteInterview('<%= interview.RegNo  %>')"
                                                            >
                                                                <i
                                                                    class="fa fa-thumbs-up"
                                                                ></i>
                                                            </button>
                                                            <%=
                                                            interview.upvoted %>
                                                            Upvotes
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }); %>
                </div>
            </div>
        </div>
        <div><br /></div>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/frontendScript.js"></script>
        <script src="/js/isotope.min.js"></script>
        <script src="/js/owl-carousel.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/tabs.js"></script>
        <script src="js/popup.js"></script>
        <script src="/js/custom.js"></script>

        <script>
            function bannerSwitcher() {
                next = $(".sec-1-input")
                    .filter(":checked")
                    .next(".sec-1-input");
                if (next.length) next.prop("checked", true);
                else $(".sec-1-input").first().prop("checked", true);
            }

            var bannerTimer = setInterval(bannerSwitcher, 5000);

            $("nav .controls label").click(function () {
                clearInterval(bannerTimer);
                bannerTimer = setInterval(bannerSwitcher, 5000);
            });
        </script>
    </body>
</html>
